<div class="field">
  <label for="<%= $.String.underscore(builder.basename).replace(/\[/g,'_').replace(/\]/g,'') + '_' + property %>"><%= property %></label>
  <span class="errors"></span>
  <span class="hint"></span>
  <%= input %>

</div>